@charset "UTF-8";

p#sobre {
    padding: 10px;
    text-align: justify;
}

aside {
    background-color: lightcoral;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
    margin-left: 20px;
    width: 350px;
    border-radius: 10px;
}

#contato {
    font-weight: bold;
}

aside > ul {
    list-style-position: inside;
}