@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Macondo&display=swap');

:root {
    --cor0: #0b0185;
    --cor1: #32018f;
    --cor2: #4c0578;
    --cor3: #7f018f;
    --cor4: #85015e;

    --font-padrao: Arial, Verdana, Helvetica, sans-serif;
    --font-titulo: 'Montserrat', cursive;
    --font-destaque: 'Macondo', cursive;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: white;
    font-family: var(--font-padrao);
}

header {
    background-image: linear-gradient(to bottom, var(--cor0), var(--cor2));
    min-height: 150px;
    text-align: right center;
    padding: 40px;
}

header h1 {
    color: white;
    font-family: var(--font-titulo);
    font-variant: small-caps;
    font-size: 10vw;
    font-weight: normal;
    margin-bottom: 10px;
    text-shadow: 2px 2px 0px black;
}

nav {
    background-color: var(--cor2);
    padding: 10px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.192);
}

nav > a {
    color: white;
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: 0.25s;
}

nav a:hover {
    background-color: var(--cor4);
    color: var(--cor0);
}

